/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;
}

header .logo img {
    max-width: 200px; /* Taille ajustée */
    height: auto;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

/* NAVIGATION */
nav {
    background-color: #001b77;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* HERO */
.hero {
    background: url('img/fond.jpg') no-repeat center center;
    background-size: cover;
    color: black;
    padding: 100px 20px;
    text-align: center;
    transition: opacity 2s ease-in-out;
    position: relative;
}

.hero .hero-content {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    display: inline-block;
    max-width: 90%;
    margin: auto;
}

/* GALLERY */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

/* FOOTER */
footer {
    background-color: #001b77;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    /* Empilage du logo, du titre et du menu */
    header {
        flex-direction: column;
        text-align: center;
    }

    header .logo img {
        max-width: 150px;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* HERO */
    .hero {
        padding: 60px 20px;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    /* GALLERY */
    .gallery-container {
        grid-template-columns: 1fr;
    }
}
